/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/05/2016, 15:44:35
    Author     : mateus
*/
.nome_produto p {
    padding: 2%; 
    font-size: 2em;
    font-family: sans-serif;
    color: #195D9E;
}
.nome_produto img {
    float: left; 
    width: 350px;
    padding-left: 3%;
}
.informarcoes_compra {
    float: left; 
    padding-left: 20%;
}
.descricao {
    font-size: 14px; color: #195D9E; width: 350px;
}
.valor {
    font-size: 2em; 
    color: #195D9E;
}
.comprar {
    padding-right: 10%;
}
.botao {
    background:#1A75CE; 
    color:white;
    width: 10%; 
    height: 5%; 
    float: right;
}
.cep {
    float:right;
}
*::-moz-selection {
    background:#1A75CE;  /*---Cor de fundo--*/
    color:white;   /*--cor da fonte--*/
}
*::selection {
    background:#1A75CE;/*---Cor de fundo--*/
    color:white;  /*--cor da fonte--*/
}